ion-header .toolbar-background-md,
ion-navbar .toolbar-background-md {
  background-color: #488aff !important;
}

ion-header .bar-button-default-md,
ion-header .toolbar-title-md,
ion-navbar .bar-button-default-md,
ion-navbar .toolbar-title-md {
  color: white;
}

ion-header .toolbar-title,
ion-navbar .toolbar-title {
  text-align: center;
}

ion-header ion-title,
ion-navbar ion-title {
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
}

ion-content {
  font-family: 'Raleway', sans-serif;
}

ion-content .item-md {
  color: #415568;
}

.title-intro-login,
.text-intro-login {
  color: #9f9f9f;
  font-weight: 300;
  margin: 10px auto;
  text-align: center;
  width: 90%;
}

#login-input3,
#login-input4 {
  padding: 0;
}

.text-input-md,
.text-input-ios {
  margin: 0;
}

.ion-page .tabbar {
  opacity: 1;
}

/*Form*/
#login-form1,
#crearPedido-form2 {
  margin: 0 auto;
  width: 96%;
}

.item-input {
  padding: 0;
}

.label-ios,
.label-md {
  color: #9f9f9f;
  font-size: 1.2rem;
  margin: 0 0 0 10px;
}

.label-md[floating] {
  margin-left: 10px;
}

.default-input {
  border: 1px solid #4BBDEF;
  border-radius: 25px;
  color: #757575;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 10px 10px 10px 14px;
}

.default-input:focus {
  border: 1px solid #4BBDEF;
  box-shadow: none !important;
}

.item-ios.item-label-stacked .text-input {
  margin: 0;
}

.item-ios.item-label-floating .text-input {
  margin: 0;
}

.item-md.item-label-stacked .text-input {
  margin: 0;
}

.item-md.item-label-floating .text-input {
  margin: 0;
}

.error {
  color: #ea7178;
  font-size: 11px;
}

.error1 {
  color: #4b4b4b;
  border: 1px solid #ea7178;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border: 0 !important;
  box-shadow: none !important;
}

.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border: 0 !important;
  box-shadow: none !important;
}

.item-inner {
  border-bottom: 0 !important;
  padding: 0 !important;
  margin-bottom: 12px;
}

.item-md.item-input.item-input-has-focus .item-inner {
  box-shadow: none !important;
}

.item-md.item-input.input-has-focus .item-inner {
  box-shadow: none !important;
}

.btn-dafult-app {
  background-color: #4BBDEF;
  border-radius: 25px;
  box-shadow: none;
  font-size: 1.6rem;
  padding: 20px 0;
}

.btn-dafult-app .button-inner {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
}
